.section-content{    
    width: 50%;
    display: inline;
}

canvas{
    display: inline;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#mapContainer {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}

#lifeQualityCanvas{
    background-color: rgb(50,50,50)
}

.page-content, .Modern-Slider{
    background-color: rgb(50,50,50)
}

.page-content, .sidebar-navigation, .slider{
    color: white;
}